/* ============================================= */
/*              Colors                      */
/* ============================================= */

$color-border:#ccc;
$color-white:#fff;
$color-font: #777;

$color-accent:#51ddfc;
$color-aqua:#58e1c1;
$color-violet: #927bc1;
$color-orange:#fd7856;
$color-skyblue:#4da2bb;
$color-green:#63cc82;
$color-coral:#e4757a;

/* ============================================= */
/*              Media Quiries breakponts         */
/* ============================================= */

$break-m:768px;

/* ============================================= */
/*              Font                             */
/* ============================================= */

$font-stack-primary:'Lato', sans-serif;
$font-size:1.5em;
$font-weight-light:300;
$font-weight-bold:700;
$font-style: italic;