/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

  .theme {
    &.col-1 {
      background-color: $color-violet;
    }
    
    &.col-2 {
      background-color: $color-orange;
    }
    
    &.col-3 {
      background-color: lighten($color-violet, 10%);
    }
    
    &.col-4 {
      background-color: $color-accent;
    }
    
    &.col-5 {
      background-color:lighten($color-green, 10%);
    }
    
    &.col-6 {
      background-color: $color-skyblue;
    }
    
    &.col-7 {
      background-color: lighten($color-coral, 10%);
    }
    
    &.col-8 {
      background-color: lighten($color-orange, 10%);
    }
    
    &.col-9 {
      background-color: $color-coral;
    }
    
    &.col-10 {
      background-color: $color-green;
    }
    
    &.col-11 {
      background-color: $color-accent;
    }
    
    &.col-12 {
      background-color: $color-aqua;
    }
  }
    
  .card {
    flex-basis: 100%;
  }
  
  